canvas {
    border: 1px solid black;
    background-color: white
}

body {
    background-image: url("/images/bg_blue.jpg");
    text-align: center;
}

label, h2, h3 {
    color: white
}

label {
    padding-right: 25px
}