/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

h1 {
  color: #010D26;
  font-style: italic;
  color: #091B40;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

form {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  background-color: #010D26;
  border: 2px solid currentColor;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
  color: white;
}

form button:hover {
  background-color: #2F3D59;
  color: white;
}
