#tweakpane {
    position: absolute;
    left: 20px;
    width: 400px;
    box-shadow: var(--box-shadow-down);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    overflow: hidden;
}

#tweakpane .tp-rotv, #tweakpane .tp-brkv {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#tweakpane .tp-lblv_v {
    min-width: 200px;
}

#tweakpane .tp-lstv_s {
    padding: 0 24px 0 8px;
}
